= provide(:title, "Home")

%h1 「温泉サイコーオオオオオ」
%p 日本人なら誰でも好きであろう温泉
%p その土地ならではの景色に癒されながらの温泉
%p そんな素敵な温泉を、誰かにちょこっと紹介するサービスです。

.row
  - @posts.each do |post|
    .col-lg-4.col-md-6
      .card.mb-1
        - if post.picture?
          = image_tag post.picture.thumb.url, { class: "card-index" }
        - else
          = image_tag "no_image.png", { class: "card-index" }
        .card-body
          %h4.card-title
            = post.title
          = link_to "詳細を見る", post_path(post), { class: "btn btn-primary" }
.text-center
  = paginate @posts