.user_form.mx-auto
  %h2.title-border ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group.mt-4
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control"
    .form-group
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password", required: true, class: "form-control"
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .form-group
      = f.submit "ログイン", class: "btn btn-danger"
  = render 'guestuser'
  = render "users/shared/links"
