.user-profile
  - if @user.avatar?
    = image_tag @user.avatar.thumb.url, class: "profile-img"
  - else
    = image_tag "no_image.png", class: "avatar rounded-circle"
  %h4.mt-3
    %strong
      = @user.name
  .stats.mb-3
    登録日
    %strong
      = @user.created_at.strftime('%Y/%m/%d')

  - if @user.id == current_user.id
    = link_to 'アカウント編集', edit_user_registration_path, class: "btn btn-outline-dark"
  - else
    = render partial: 'follow_form', locals: { user: @user }

%ul.nav.nav-tabs.justify-content-center.mt-3
  %li.nav-item
    %a{ href: '#tab1', class: 'nav-link active n-l-item', 'data-toggle' => 'tab' }
      投稿
  %li.nav-item
    %a{ href: '#tab2', class: 'nav-link n-l-item', 'data-toggle' => 'tab' }
      お気に入り
  %li.nav-item
    %a{ href: '#tab3', class: 'nav-link n-l-item', 'data-toggle' => 'tab' }
      %strong#following
        = @user.following.count
      フォロー
  %li.nav-item
    %a{ href: '#tab4', class: 'nav-link n-l-item', 'data-toggle' => 'tab' }
      %strong#followers
        = @user.followers.count
      フォロワー

.tab-content
  #tab1.tab-pane.active
    .row
      = render partial: "posts/post", locals: { posts: @user_posts }
  #tab2.tab-pane
    .row
      - if @user_liked_posts.any?
        = render partial: "posts/post", locals: { posts: @user_liked_posts }
      - else
        %h1 お気に入りしよ！
  #tab3.tab-pane
    - if @following_users.any?
      - @following_users.each do |u|
        %li
          = u.name
    - else
      %h1 誰かフォローしてみましょう。
      ユーザー検索フォーム or 一覧ページ
  #tab4.tab-pane
    - if @followers_users.any?
      - @followers_users.each do |u|
        %li
          = u.name
    - else
      %h1 まだ誰からもフォローされていないようです・・・。