= @user.name
%h2 あなたの投稿
%ul
  - @user_posts.each do |post|
    %li
      = post.title
      = post.body

.stats
  %strong#following
    = @user.following.count
  フォロー中
  %strong#followers
    = @user.followers.count
  フォロワー

= render 'follow_form'