= form_for(@post) do |f|
  = render 'shared/error_messages', { object: f.object }
  = f.label :title
  %br
  = f.text_field :title
  %br
  - if @post.image.attached?
    %span now image:
    = image_tag @post.image.variant(resize: '200x200').processed, class: "image"
  %br/
  = f.label :image
  %br/
  = f.file_field :image, accept: 'image/jpeg, image/png'
  %br
  = f.text_area :body, placeholder: 'この温泉に関する感想を書いてね！'
  %br
  = f.submit yield(:button_text), { class: "btn btn-primary" }