= form_with model: post, local: true do |f|
  .row.mb-5
    .col-md-6.text-left
      = f.label :name, "温泉の名前（20文字以内）"
      %br
      = f.text_field :name, placeholder: "この思い出にタイトルをつけてね！", required: true, maxlength: '20', class: "form-control"
      %br/
      = f.label :prefecture_id, "都道府県は？"
      %br/
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: '選択してください', selected: post.prefecture_id }, { class: "form-control", required: true }
      = f.label :city_id, "市区町村は？"
      #cities_select
        = render partial: 'cities', locals: { prefecture_id: post.prefecture_id }
    .col-md-6
      %p 画像を一枚添付してね
      = f.label :picture do
        #img_field{ onclick: "$('#file').click()" }
          - if post.picture.url.present?
            = image_tag post.picture.thumb.url
          - else
            = icon("fas", "bath")
      = f.file_field :picture, accept: 'image/jpeg, image/png', style: "display:none;", id: "file", class: "image"
      = f.hidden_field :picture_cache
  .row.pr-3.pl-3
    = f.label :body, "思い出の詳細（140文字以内）"
    %br/
    = f.text_area :body, placeholder: 'この温泉の詳細を書いてね！', required: true, maxlength: '140', class: "form-control"
    %br
  .row.mt-3
    .col-md-6.mx-auto.mb-3
      = f.submit yield(:button_text), { class: "btn btn-danger form-control" }

:javascript
  $(function(){
    $fileField = $('#file')

    // 選択された画像を取得し表示
    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#img_field");

      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            width: "100%",
            height: "100%",
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });