%h1 新規投稿
= form_for(@post) do |f|
  = render 'shared/error_messages', { object: f.object }
  = f.label :title
  %br
  = f.text_field :title
  %br
  = f.label :image
  %br/
  = f.file_field :image, accept: 'image/jpeg, image/png'
  %br
  = f.text_area :body, placeholder: 'このJunkに関する思い出やエピソードを記入しよう！'
  %br
  = f.submit 'コレクションに加える！'