%h1 投稿詳細

%span title:
= @post.title
%br/
%span body:
= @post.body
%br/
%span picture:
- if @post.picture?
  = image_tag @post.picture.thumb.url
%br/
- if current_user?(@post.user)
  = link_to "delete", post_path(@post), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger"
  = link_to "edit", edit_post_path(@post), locals: { post: @post }, class: "btn btn-warning"
%br/

- if user_signed_in?
  = render partial: 'comments/form', locals: { comment: @comment }

%h1 コメント一覧
- if @post.comments.any?
  = render partial: 'comments/comments', collection: @comments, as: :comment
- else
  %p no comments...